<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mabo_com.timekeeper">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Alarm_Config" />
        <activity
            android:name=".Alarm_TimePicker"
            android:theme="@style/Theme.TranslucentBackground" />
        <activity
            android:name=".Alarm_RepeatOption"
            android:theme="@style/Theme.TranslucentBackground" />
        <activity
            android:name=".Alarm_SnoozeOption"
            android:theme="@style/Theme.TranslucentBackground" />
        <receiver android:name="Alarm_BroadcastReceiver" >
            <intent-filter>
                <action android:name="Alarm_Action"></action>
            </intent-filter>
        </receiver>
        <service android:name=".Alarm_OriginalAlarmService" ></service>

        <activity android:name=".Alarm_NotificationActivity" ></activity>
    </application>

</manifest>